extends includes/layout.pug

block content
  - const postsArray = page.posts && page.posts.data ? page.posts.data : (site.posts && site.posts.toArray ? site.posts.toArray() : (site.posts.data || []))
  - const filteredPosts = postsArray.filter(p => {
  -   const postLang = (p.lang || 'es').toString().toLowerCase()
  -   const postPath = (p.path || '').toString()
  -   return postLang !== 'en' && !postPath.startsWith('en/')
  - })
  - const originalPosts = page.posts
  - page.posts = { data: filteredPosts }
  include ./includes/mixins/indexPostUI.pug
  +indexPostUI
  - page.posts = originalPosts